@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.min.css';

.header-bg{
    background: url('../img/header-bg.png');
    height: 15vw;
    background-size: cover;
    background-position: center center;
}
.header-title{
    font-size: 8vw;
    font-weight: bold;
    color: green;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px;
}